    /* ANIMATION JS VIGNETTES*/

    #imageJs1, #imageJs2, #imageJs3, #imageJs4, #imageJs5 {
        visibility: hidden;
body {

    margin: 0;

    padding: 0; /*pour centrer les "cards"*/

}

.container {
    padding: 0;
}

.containerCards {
    display: flex;
    flex-flow: nowrap;
    justify-content: flex-start;
    width: 100vw;
}

.cardM {
    margin: 1rem auto;
    width: 20vw;
}

.cardTxt {
    text-align: center;
}

.containerVignettes {
    display: flex;
    justify-content: space-evenly;
    margin: 2rem auto;
}

.containerM {
    margin-top: 3rem;
}

.vignette:hover {
    -webkit-filter: sepia(90%); /* ou brightness*/

}

.vignette {
    -webkit-filter: none;
}

.séparationVignettes {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
}

.item1Vignette {
    border-bottom: solid 1px rgb(221, 217, 217);
    color: transparent;
    height: 1rem;
}

.item2VIgnette {
    font-family: 'KoHo', 'cursive';
    font-size: 2rem;
    font-weight: none;
}

@media screen and (max-width: 768px) {
    .containerCards {
        flex-flow: wrap column;   /*‘flex-direction’> || <‘flex-wrap’>*/
    }
    
    /* test animation V */

    /*style for the list and the list items*/
    .ch-grid {
        display: block;
        list-style: none;
        margin: 20px 0 0 0;
        padding: 0;
        text-align: center;
        width: 100%;
    }
    
    .ch-grid:after, .ch-item:before {
        content: '';
        display: table;
    } 
    
    .ch-grid:after {
        clear: both;
    }
    
    .ch-grid li {
        display: inline-block;
        height: 220px;
        margin: 20px;
        width: 220px;
    }

    /*scaling it up and we will also animate the inset box shadow*/
    .ch-item {
        border-radius: 50%;
        cursor: pointer;
        height: 100%;
        overflow: hidden;
        position: relative;
        transition: all 0.6s ease-in-out;
        width: 100%;
    }

    /*to define a background image*/
    .ch-img-1 { 
        background-image: url(https://image.noelshack.com/fichiers/2019/12/3/1553093270-pecorino-aux-tuffes-1.jpg);
    }
    
    .ch-img-2 { 
        background-image: url(https://image.noelshack.com/fichiers/2019/11/1/1552330439-cannoli-siciliani-1.jpg);
    }
    
    .ch-img-3 { 
        background-image: url(https://image.noelshack.com/fichiers/2019/11/1/1552332161-melon-1.jpg);
    }

    /* description element will be positioned absolutely and transparent background by setting an RGBA value*/
    .ch-info {
        background: #74A48A;
        border-radius: 50%;
        height: inherit;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        transition: all 0.4s ease-in-out;
        transform: scale(0);
        width: inherit;
    }

    /*The title of the item will have some fitting paddings and margins and a smooth text shadow*/
    .ch-info h3 {
        color: #fff;
        font-family: 'Open Sans', Arial, sans-serif;
        font-size: 22px;
        height: 140px;      /*a tester*/
        letter-spacing: 2px;
        margin: 0 30px;
        padding: 45px 0 0 0;
        text-shadow: 
            0 0 1px #fff, 
            0 1px 2px rgba(0,0,0,0.3);
        text-transform: uppercase;
    }

    /*The paragraph element has 0 opacity and a transition (we want to fade it in on hover but with a delay)*/
    .ch-info p {
        color: #fff;
        border-top: 1px solid rgba(255,255,255,0.5);
        font-size: 12px;
        font-style: italic;
        margin: 0 30px; 
        opacity: 0;
        padding: 10px 5px; 
        transition: all 1s ease-in-out 0.4s;
    }

    /*The link will be in uppercase letters and we’ll make the hover color */
    .ch-info p a {
        color: rgba(255,255,255,0.7);
        display: block;
        letter-spacing: 1px;
        font-family: 'Open Sans', Arial, sans-serif;
        font-style: normal;
        font-size: 9px;
        font-weight: 700;
        padding-top: 4px;
        text-transform: uppercase;    
    }
    
    .ch-info p a:hover {
        color: rgba(187, 120, 43, 0.945);
    }

    /* animate its box shadow’s*/
    .ch-item:hover {
        box-shadow: 
            inset 0 0 0 1px rgba(255,255,255,0.1),
            0 1px 2px rgba(0,0,0,0.1);
    }

    /*scale effect*/
    .ch-item:hover .ch-info {
        opacity: 1;
        transform: scale(1);
    }

    /*description with delay*/
    .ch-item:hover .ch-info p {
        opacity: 1;
    }
    
    /*display*/

    .containerVignettes {
        display: flex;
        justify-content: space-evenly;
    }

    @media screen and (max-width: 768px) {
    
        .containerVignettes {
            flex-flow: wrap column;
            align-items: center;
        }
    }
