/*NAVBAR*/
.contentnavM {
    font-size: 1.6rem;
}


.shadow-navbar {
    text-shadow: 2px 1px 1px black;
    color: white;
}

.islandM h2 {
    position: absolute;
    left: 1000px;;
    top: -140px;
    color:#74A48A;
    font-size: 1.5rem;
    text-align: center;
}

.bioM {
    font-family: 'Bilbo', cursive;
    font-size: 1.5rem;
}

.titleM {
    font-family: 'Kristi', cursive;
    font-size: 8rem;   
    text-align: center;           /*changer taille pour le responsive*/
    
}

h5.titleIM  {
    font-size: 5rem;
    /* font-family: 'koho'; */
}

.navMM {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    margin-top: 0;
    background-color: transparent !important;
    /*  margin-bottom: -400px; Negative margin to pull up carousel. 90px is roughly margins and height of navbar. */
}

.nav-item {
    font-family: 'KoHo', sans-serif;
    font-size: 1.3rem;
    margin: 0 2rem 0;
    
}

.navbar-expand-lg .navbar-nav {
    
    margin: 0 auto;
}

@media screen and (max-width: 1200px) {
    .titleM {
        font-size: 6rem;        
        font-family: 'Kristi', cursive;        
        text-shadow: 2px 1px 1px black;
        
    }

    .nav-item {
        margin: 0 0rem 0;
    }

    .shadow-navbar {
        font-size: 1.5rem;
    }
    .islandM h2 {
        position: 0;
        left: 0;
        top: 0;
    }


    

@media screen and (max-width: 415px) {
    .titleM {
        font-size: 4.5rem;
    }
    .nav-item {
        
        font-size: 1rem;
    }
    .islandM h2 {
        position: 0;
        left: -1rem;
        top: 0;
    }
}
 
@media screen and (max-width: 320px) {
    .titleM {
        font-size: 3.9rem;
    }
    .nav-item {
        
        font-size: 1rem;
    }
    .islandM h2 {
        position: 0;
        left: -0.8;
        top: 0;
    }
} */



 /* CUSTOMIZE THE CAROUSEL-------- */

.titleIM {
    font-size: 6rem;
}

.carousel {
    margin-bottom: 60px;
}

.carousel .container {
    position: relative;
    z-index: 9;
}









/* pages îles */

/* navbar */
.navIles {
    background-image: url('https://image.noelshack.com/fichiers/2019/10/7/1552232248-texturemer-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.navIles1 {

    background-image: url('https://image.noelshack.com/fichiers/2019/11/1/1552329258-webp-net-resizeimage.jpg');

    background-repeat: no-repeat;

    background-size: cover;

}

.navIles2 {

    background-image: url('https://image.noelshack.com/fichiers/2019/11/1/1552330298-thumb-71438-default-header.jpg');

    background-repeat: no-repeat;

    background-size: cover;

}

.navIles3 {

    background-image: url('https://image.noelshack.com/fichiers/2019/11/1/1552330656-purple-1.jpg');

    background-repeat: no-repeat;

    background-size: cover;

}

.navIles {
    background-color: white !important;
}

.descriptionIle {
    margin-top: 5rem; 
}

.islandM {
    display: flex;
    justify-content: center;
}

.islandM1{

    display: flex;

    justify-content: center;

    margin-top: 4.5rem;

  

}

.titleIles {
    color:#74A48A;
    font-size: 1.5rem;
    
}

.titleIles1{

    color:#00B9FF;

    font-size: 1.5rem;

    font-weight:bold;

}

.titleIles2{

    color:#FCB956;

    font-size: 1.5rem;

    font-weight:bold;

}

.titleIles3{

    color: #BF2CA7;

    font-size: 1.5rem;

    font-weight:bold;

}

.col-sm-6{

    

    text-align: justify !important;

    font-family: 'KoHo', sans-serif;

    font-size: 1rem;

}

.subtitleM {
    font-family: 'Bilbo', cursive;
    font-size: 1.5rem;
}

p {
    font-family: 'KoHo', sans-serif;
    font-size: 1rem;
}

img {
    border-radius: 4px;
}

.vignette {
    border-radius:50px;
}
