*{
    margin:0;
    padding:0;
}

/* style de la card avec abdou :)*/

.card-header{

    background-color:#333333;
    color: white;

}
#myImg {
    border-radius: 50%;
    cursor: pointer;
    transition: 0.3s;
  }
  
  #myImg:hover {opacity: 0.7;}
  
  .imgModal {
    display: none;
    position: fixed;
    z-index: 24;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
  }
  
  .image-modal-content {
    margin: auto;
    display: block;
    width: 30%;
    max-width: 700px;
  }

  .instagro{
      color: white;
      text-align: center;
  }
  
  #image-modal-caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  .image-modal-content,
  .image-modal-caption {
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)}
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
  }
  
  .imgClose {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .imgClose:hover,
  .imgClose:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  @media only screen and (max-width: 700px) {
    .image-modal-content {
      width: 100%;
    }
  }

/* j'ai styliser les boutons*/

.btn-success{

    background-color: #333333;

    border-color:grey !important;

}

body{
    font-family: 'Roboto', sans-serif;
}

.carousel-item {

    /*height: 100vh;*/

    min-height: 350px;

    background: no-repeat center center scroll;

    -webkit-background-size: cover;

    -moz-background-size: cover;

    -o-background-size: cover;

    background-size: cover;
  }

  .description {
      font-size: 1.3rem; 
  }


.card{
    margin-bottom: 0.5rem;
    padding-top: 1rem;
    border: none;
   


    
}
.presentation{ 
    padding: 2rem 2rem 2rem 2rem;  
    display:flex;
    justify-content:space-around;
   
}

.text-center{
    text-align:center !important;
}

.presentation img{
    border-radius: 0.3rem;
}

.portrait{
    margin-right: 2rem;
}

.btn-success:hover {
    color:black;
    background-color: white;
    border-color: grey;
}

.card-image{
    opacity: 0.8;
}

.card-image:hover{
    opacity:1;
}

.card-title h3{
    text-align: center;
    
}

.pb-3{
    padding-top: 3rem !important;
  
}

.pt-5, .py-5 {
    padding-top: 0rem !important;
}

.pr-4, .px-4 {
    padding-top: 0rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem !important;
}

.mb-4, .my-4 {
    margin-bottom: 0rem !important;
}

.col-md-6{
    padding-right: 3px;
    padding-left: 6px; 
}

.card-image2{
    background-image: url("https://image.noelshack.com/fichiers/2019/10/3/1551882183-corse.jpg");
}

/* icones animées */

.main_icon{
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
}
.icon{

    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-left: 10px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    
}
.icon:hover{
    transform: scale(1.25, 1.25);
    transform: rotatey(360deg);
    transition: all .5s ease-in-out;
    box-shadow: -1px 0px 50px 5px rgba(0,0,0,0.19);
}


@media screen and (max-width: 900px) {
    .header {
      display:flex;
      flex-flow: wrap;
    }

    .title_blog h1{
        font-size: 2rem;
        text-align: center;
    }

    .header{
        background-color: white;
    }

 

    .navbar{
        z-index: 1000 ;
    }

    .presentation{
        display:flex;
        flex-flow: wrap;
    }

    .portrait img{
        width:100%;
    }
    
  }

