*{
    margin:0;
    padding:0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.header{
    
    height:4rem;
}


.mylogo img{
    width: 9rem;
    height:2rem;
    margin-top: 1rem;
}




  .header{

    display:flex;
    justify-content: space-around;
    background-color: lightgrey;

    
}

.title_blog h1{
    font-size: 2rem;
    line-height: 4rem;
}

.bg-light {
    background-color:lightgrey !important;
}

.navbar{
    color:black;
}

.dropdown-item{
    width:50%;
}

.card-header{
    background-color: lightgrey;
}



.card{
    margin-top: 12rem; 
}
.presentation{ 
    padding: 2rem 2rem 2rem 2rem;  
    display:flex;
    justify-content:space-around;
   
}

.portrait{
    margin-right: 2rem;
}

.btn-success{
    
}


@media screen and (max-width: 900px) {
    .header {
      display:flex;
      flex-flow: wrap;
    }

    .title_blog h1{
        font-size: 2rem;
        text-align: center;
    }

    .header{
        background-color: white;
    }

    .bg-light {
        background-color:white !important;
    }

    .navbar{
        z-index: 1000 ;
    }

    .presentation{
        display:flex;
        flex-flow: wrap;
    }

    .portrait img{
        width:100%;
    }
    
  }

  


  