h1 {
    padding-left: 0.5rem;
}

.container-fluid {
    padding-left: 1.5rem;
}

.container-fluid h3 {
    margin-left: -1rem;
}

.container-fluid input {
    width: 15rem;
}

.formulaire {
    max-width: 60rem;
    margin: 0 auto;
}

.form-group_send {
    margin-left: -1rem;
    border-radius: 10rem;
}

.name {
    margin-left: -1rem;
}
<<<<<<< HEAD
=======
.form-group_send input {
    width: 5rem;
}
>>>>>>> d5af3826a06e6d6816cef26695b08946bafefb52

input {
    border-radius: 5px;
}

textarea {
    border-radius: 5px;
    margin-right: 1rem;
<<<<<<< HEAD
=======
    width: 25rem;
    height: 10rem;
>>>>>>> d5af3826a06e6d6816cef26695b08946bafefb52
}

@media screen and (max-width:768px) {
    .container-fluid {
<<<<<<< HEAD
        padding-left: 3rem;
    } 
}

@media screen and (min-width:769px) {
    .container-fluid {
    max-width: 50rem;
    padding-left: 10rem;
    }
}
=======
        padding-left: 2rem;
        
    } 
}

@media screen and (min-width:768px) {
    .container-fluid {
    max-width: 50rem;
    padding-left: 10rem;
}
>>>>>>> d5af3826a06e6d6816cef26695b08946bafefb52
