.taille {
    margin-right: 2rem;
    margin-bottom: 1rem;
       
}

#footer {
    /* background-color: #f0f8ff;     */
    display: flex;
    justify-content: center;    
    text-align: center;    
}


.taille img{
	margin-right: 2rem; 
	margin-bottom: 1rem;
}




.containerContact {
    display: flex;
    flex-flow: column;
    justify-content: center;
}




.font-footer {
    font-family: 'KoHo', sans-serif;
    

}

a, a:visited {
    /* Les liens "au repos" et déjà visités antérieurement */
    color: black;
    text-align: center;
}
a:hover, a:focus, a:active {
    /* Les liens au survol, au focus, et actifs : on leur donne la couleur rouge pour l'exemple */
    color: #9e9a9a;
}




.form-group_newletter {

    text-align: center;

    margin-bottom: 0.2rem;

}

.form-group_newletter input {

    padding-right: 1.5rem;

}
/* icones animées */

.main_icon{
    text-align: center;
    line-height: 40px;
    display: flex;
    justify-content: center;
}
.icon{

    width: 40px;
    height: 40px;
    border-radius: 20%;
    margin-left: 10px;
    color: black;
    font-size: 20px;
    cursor: pointer;
    
}
    .icon:hover{
    transform: scale(1.25, 1.25);
    transform: rotatey(360deg);
    transition: all .5s ease-in-out;
    box-shadow: -1px 0px 50px 5px rgba(0,0,0,0.19);
}


.social {
    display: flex;
    justify-content: center;
    
}

.position-icone {
   
    display: inline-flexbox;
    justify-content: center;
      
}

.image {
    background-size: cover;
    width: 300px;
    height: 200px;
    }