.taille {
    margin-right: 2rem;
    margin-bottom: 1rem;
       
}

#footer {
    background-color: #f0f8ff;    
    display: flex;
    justify-content: center;
    border: 2px groove black;    
}



.social {
    display: flex;
    justify-content: center;
    margin-right: 4rem;
    margin-bottom: 0.5rem;
}

.position-icone {
    display: inline-flexbox;
    justify-content: center;
   
    
}

.image {
    background-size: cover;
    width: 300px;
    height: 200px;
    }